.navbar {
    /* background:#FDF5AA; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background:#fafcfd;
    display:flex;
    align-items:center;
    z-index:100;
    font-size: 2em;
}

.navbar nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:1rem;
    gap:1rem;
    position:sticky;
    transition: transform 1s ease;
 
}

.navbar .nav-link li {
    list-style: none;
    margin: 0 0.5rem;
}

.navbar .nav-link {
    display: flex;
    margin:0;
    padding:0;
    gap:1rem;
}

.navbar ul li a {
    color: #1C1C1C;
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 10px;
    font-size: 1em;
    text-align: right;
}

.navbar ul li a:hover{
    background-color:#efefef;
}

.hamburger{
    font-size:1.5rem;
    cursor:pointer;
    display:none;
    background-color:transparent;
    border-radius:25px;
}

@media(max-width:768px){
    .hamburger{
        display:block;
        padding:40px;
    }

    .navbar .nav-link{
    flex-direction: column;
    justify-content:space-evenly;
    background-color: #f7f5f5;
    position: absolute;
    width:350px;
    height:60vh;
    top:-800px;
    right:0;
    z-index:10;
    border-radius: 25px;
    }

    .nav-link.active{
        top:15%;
        transition:all 0.3s ease-in;
    }
}


.hideNav{
    transform: translateY(-100%);
    opacity:0;
}

.header{
     transition:1s ease-in-out;
}