.navbar {
    /* background:#FDF5AA; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display:flex;
    align-items:center;
    z-index:100;

}

/* .navbar {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: right;
} */

.navbar nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:1rem;
    gap:1rem;
    /* cursor: pointer;
    justify-content: space-between; */
}

.navbar .nav-link li {
    list-style: none;
    margin: 0 0.5rem;
    /* Not list format */
}

.navbar .nav-link {
    display: flex;
    margin:0;
    padding:0;
    gap:1rem;
    /* Will be flexible to the screen */
}

.navbar ul li a {
    color: #34699A;
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 10px;
    font-size: 1em;
    text-align: right;
}

.navbar ul li a:hover{
    background-color:#58A0C8;
}

/* .NavBar a::before{
    content:'';
    position: asbolute;
    top: 100%;
    left: 0;
    width:0;
    height:2px;
    background: white;
    transition: 0.3s;
}

.NavBar a:hover::before{
    width:100%
} */

.hamburger{
    font-size:1.5rem;
    cursor:pointer;
    display:none;
    background-color: #58A0C8;
    border-radius:25px;
}

@media(max-width:768px){
    .hamburger{
        display:block;
        padding:40px;
    }

    .navbar .nav-link{
    flex-direction: column;
    justify-content:space-evenly;
    background-color: #fff;
    position: absolute;
    width:350px;
    height:60vh;
    top:-800px;
    right:0;
    z-index:10;
    border-radius: 25px;
    }

    .nav-link.active{
        top:15%;
        transition:all 0.3s ease-in;
    }
}